li {
  list-style:none;
}
.header {
  background-color:white;
  color:#3C82F2;
  height:100px;
  position:fixed;
  width:90%;
  top:0px;
}

.header-logo{
  float:left;
  font-size:25px;
  padding: 20px 40px;
}

.header-right{
  float:right;
  background-color: white;
  transition:all 0.5s;
  border-radius: 10px;
  border: 1px solid #3C82F2;
}

.header-right:hover{
  background-color: white;
}

.header-right a{
  line-height: 30px;
  padding: 0 25px;
  color:black;
  display:block;
}

.header-list li{
  float:left;
  padding: 10px 10px;
  margin-left: 100px;
}

.header1{
  color:black;
  font-size:25px;
  float: left;
  padding: 50px 40px;
  position:fixed;
  line-height: 30px;
  width:25%;
}

.header1 p{
  color:ash grey;
  font-size:15px;
}

.header1 a{
  color:white;
  background-color:#3C82F2;
  border-radius:10px;
  font-size:20px;
  display:block;
  padding: 0 25px;
  line-height: 40px;
  width:25%;
}

.pesawat {
  height:350px;
  float:right;
  padding:70px;
  position:fixed;
}
